# Ambientes virtuais
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Arquivos temporários e cache
__pycache__/
*.py[cod]
*$py.class
*.log

# Build / distribuição
build/
dist/
*.egg-info/
*.egg

# Configurações locais e credenciais
.env
.envrc
*.pkl

# IDEs e editores
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Dash e Plotly
*.map
.DS_Store

# Arquivos de teste e cobertura
.tox/
.nox/
.coverage
.pytest_cache/
.cache/

# Dados e exportações locais
/data/*.csv
/data/*.xlsx
*.zip

# Render e configurações específicas
.pdm-python
.pdm-build/
